.container {
  position: relative;
  width: fit-content;
}

.crosshair {
  cursor: crosshair;
}

.pdf {
  border: 1px solid #9496ff12;
  border-radius: 6px;
  box-shadow: 0 0 13px 0 #d1d4dc4f;
  overflow: hidden;
}

.pdfNoSelect {
  cursor: crosshair !important;
  pointer-events: none;
  user-select: none;
}
